@use '../../../styles/colors';
@use '../../../styles/text';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 130px;
  padding-bottom: 20px;
  padding-top: 10px;

  border: 1px solid colors.$border;
  border-radius: 3px;

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
  }

  &__item {
    padding-left: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__progress-bar {
    height: 20px;
    width: 80%;
    border: 1px solid colors.$border;
    border-radius: 20px;

    &--progress {
      height: 100%;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      background-color: colors.$orange;
    }
  }
}
