@use '../../styles';

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__artwork {
    width: 250px;
  }

  &__info {
    margin-top: 20px;
    text-align: center;

    &--name {
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
    }

    &--artist {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: styles.$grey-1;
      opacity: 0.75;
    }
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;

    &--playback {
      background: none;
      border: none;
      cursor: pointer;
    }

    &--play,
    &--pause {
      width: 60px;
      height: 60px;
      // &:hover {
      //   -webkit-filter: styles.$button-shadow;
      //   filter: styles.$button-shadow;
      // }
      // &:active {
      //   filter: none;
      // }
    }

    &--previous,
    &--next {
      width: 45px;
      height: 45px;
      background: none;
      border: none;
      cursor: pointer;

      // &:hover {
      //   -webkit-filter: styles.$button-shadow;
      //   filter: styles.$button-shadow;
      // }

      &:active {
        filter: none;
      }
    }
  }
}
