@use '../../../styles';

.navbar {
  width: 100vw;
  height: 8vh;
  background-color: styles.$component-background;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid styles.$border;

  @media screen and (max-width: styles.$breakpoint-phone) {
    order: 1;
    border-bottom: none;
    border-top: 1px solid styles.$border;
    justify-content: space-evenly;
    align-items: center;
  }

  &__profile {
    @media screen and (min-width: styles.$breakpoint-phone) {
      width: 25vw;
      margin-left: 15px;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &--avatar {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }

    &--username {
      margin-left: 15px;
    }

    &--tracks,
    &--list {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      @media screen and (min-width: styles.$breakpoint-phone) {
        margin: 10px;
      }
    }

    &--icon {
      width: 30px;
      height: 30px;

      @media screen and (min-width: styles.$breakpoint-phone) {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }

    &--text {
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;

      &:hover {
        color: styles.$grey-1;
      }
    }

    &--desktop {
      @media screen and (max-width: styles.$breakpoint-phone) {
        display: none;
      }
    }

    &--mobile {
      @media screen and (min-width: styles.$breakpoint-phone) {
        display: none;
      }
    }
  }

  // &__player {
  //   @media screen and (max-width: styles.$breakpoint-phone) {
  //     position: absolute;
  //     bottom: 7.5vh;
  //     width: 100vw;
  //     height: 50px;
  //   }
  // }
}

.active {
  @media screen and (min-width: styles.$breakpoint-phone) {
    border-bottom: 1px solid styles.$grey-1;
  }
}
