$button-color: #B3B3B3;
$button-color-strong: #FFFFFF;
$spotify-green: #1BD760;
$button-shadow: drop-shadow( 0px 0px 5px rgba(27, 215, 96));
$button-shadow-white: drop-shadow( 0px 0px 5px rgb(212, 212, 212));
$background-color: #121212;

@mixin ctaButton {
  background-color: $spotify-green;
  color: $background-color;
  border: none;
  border-radius: 2em;
  height: 3em;
  width: 10em;
  font-weight: bold;
  margin-top: 10em;

  &:hover {
    box-shadow: 0px 0px 10px $spotify-green;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  background-color: $background-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
