@use 'styles';

.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: styles.$background;

  @media screen and (max-width: 600px) {
    background: styles.$component-background;
  }

  &__view {
    @include styles.cardView;
  }
}
