@use '../../../styles';

.add-tag {
  @include styles.cardMargins;

  z-index: 1;

  &__title {
    color: styles.$component-grey;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
  }

  &__search {
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    &--input {
      height: 40px;
      width: 70%;
      border: 1px solid styles.$component-grey;
      border-radius: 10px;
      background: none;
      padding-left: 45px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      &:focus {
        border: 1px solid styles.$grey-1;
      }
    }

    &--tag {
      position: absolute;
      width: 24px;
      height: auto;
      left: 15px;
    }

    &--button {
      background: none;
      border: none;
      display: flex;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
    }

    &--check {
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }
  }
}
