@use '../../../styles';

.track-card {
  @include styles.card;

  &__playback {
    width: 40px;
    height: 40px;
    position: relative;
    top: 100px;
    right: 50px;

    &:hover {
      cursor: pointer;
    }
  }

  &__info {
    display: flex;

    @include styles.cardMargins;
  }

  &__album {
    height: 150px;
    width: 150px;
    border: 1px solid styles.$border;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 100%;
    width: 80%;

    overflow-x: hidden;
    white-space: nowrap;

    &--title {
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
    }

    &--artist,
    &--album {
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: styles.$grey-1;
    }
  }

  &__empty {
    @include styles.cardEmpty;
  }
}
