@use '../../styles';

.select {
  @include styles.card;
  overflow: scroll;
  padding: 30px;

  &__title {
    // position: relative;
    // bottom: 50px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }

  &__search {
    border: 1px solid styles.$grey-1;
    background: none;
    border-radius: 10px;
    height: 40px;
  }

  &__header {
    border-bottom: 1px solid styles.$component-grey;

    &--title {
      color: styles.$component-grey;
      font-weight: 300;
      font-size: 18px;
      line-height: 27px;
    }
  }
}

.track-list {
  // margin-left: 30px;
  // margin-right: 30px;
  &__row {
    display: flex;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;

    &:hover {
      background-color: styles.$row-hover;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 0px 5px 5px 0px;
    }
  }

  &__album {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }

  &__details {
    display: flex;
    flex-direction: column;

    &--title {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      overflow: hidden;
    }

    &--artist {
      color: styles.$component-grey;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
