@use '../../../styles';

.track-section {
  display: flex;

  @include styles.cardMargins;

  &__album {
    height: 120px;
    width: 120px;
    border: 1px solid styles.$border;
  }

  &__playback {
    width: 40px;
    height: 40px;
    position: relative;
    top: 80px;
    right: 50px;

    &:hover {
      cursor: pointer;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    overflow-x: hidden;
    white-space: nowrap;

    &--title {
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
    }

    &--artist,
    &--album {
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: styles.$grey-1;
    }
  }
}
