@use '../../styles';

.login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: styles.$background;

  &__logo,
  &__header {
    display: flex;
    justify-content: center;

    height: 30vh;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 30vh;
  }
}
