@use '../../../styles';

.edit-list {
  @include styles.card;

  &__search {
    @include styles.search;
  }

  &__export {
    border: none;
    background: none;

    margin-left: 20px;
    cursor: pointer;
  }

  &__header {
    @include styles.header;
  }
}

.tracks {
  @include styles.trackList;
}
