@use '../../../styles/text';
@use '../../../styles/colors';

.p {
  @include text.p-grey;
}

.h2 {
  @include text.h2-bold;
}

.tag-spotlight {
  height: 80px;
  border-radius: 15px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 15px;

  background-color: colors.$greyblack;

  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: colors.$dark-grey;
  }

  &__circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;

    margin-right: 15px;
  }

  &__info {
    display: flex;
    justify-content: space-between;

    width: 80%;

    &--left,
    &--right {
      display: flex;
      flex-direction: column;
    }
  }
}
