$background: #111111;
$component-background: #000000;
$greyblack: #1b1b1b;

$highlighted: #ffffff;
$spotify-green: #1bd760;
$component-grey: rgba(255, 255, 255, 0.5);
$row-hover: #4a4a4a;
$grey-1: #c4c4c4;
$border: #333333;
$orange: #f6a943;

$dark-grey: #212121;
