@use '../base';

.header {
  text-align: center;
  width: 100%;
  padding: 2.5em;
  background-color: black;
  font-weight: bolder;
  font-size: smaller;
}

.login-button {
  @include base.ctaButton;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 2em;
  padding-left: 1.5em;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
