@use '../../../styles';

.navbar {
  width: 100vw;
  height: 70px;
  background-color: styles.$component-background;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid styles.$border;
  @include styles.navbarLinks;

  &__settings {
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &--avatar {
      width: auto;
      height: 45px;
      border-radius: 50%;
    }
  }

  &__links {
    display: flex;
    align-items: center;

    &--tracks,
    &--list {
      text-decoration: none;
      margin: 10px;

      &:hover {
        color: styles.$spotify-green;
      }
    }
  }

  &__player {
    // display: flex;
  }
}
