@use '../../../styles';

.navbar {
  width: 100vw;
  height: 8vh;
  background-color: styles.$component-background;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid styles.$border;

  @include styles.navbarLinks;

  @media screen and (max-width: styles.$breakpoint-phone) {
    order: 1;
    border-bottom: none;
    border-top: 1px solid styles.$border;
    justify-content: space-evenly;
    align-items: center;
  }

  &__links {
    display: flex;
    align-items: center;

    &--avatar {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }

    &--tracks,
    &--list {
      @media screen and (min-width: styles.$breakpoint-phone) {
        text-decoration: none;
        margin: 10px;

        &:hover {
          color: styles.$spotify-green;
        }
      }
    }

    &--icon {
      width: 30px;
      height: 30px;

      @media screen and (min-width: styles.$breakpoint-phone) {
        display: none;
      }
    }

    &--desktop {
      @media screen and (max-width: styles.$breakpoint-phone) {
        display: none;
      }
    }

    &--mobile {
      @media screen and (min-width: styles.$breakpoint-phone) {
        display: none;
      }
    }
  }

  &__player {
    @media screen and (max-width: styles.$breakpoint-phone) {
      position: absolute;
      bottom: 80px;
      width: 100vw;
      height: 70px;
    }
  }
}
