@use '../../styles/colors';

.settings {
  padding: 10px;

  overflow-x: scroll;
}

.setting {
  display: flex;
  flex-direction: column;

  border: 1px solid colors.$border;
  border-radius: 3px;

  padding: 10px;

  margin-top: 10px;
  margin-bottom: 10px;

  &__header {
    margin-bottom: 15px;
    font-weight: bold;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

    &--description {
      color: colors.$component-grey;
      font-weight: 300;
      font-size: 14px;
      line-height: 15px;
      letter-spacing: 0.05em;
    }

    &--status {
      font-weight: 300;
      font-size: 16px;
      line-height: 27px;
      letter-spacing: 0.05em;
    }

    &--edit {
      background: none;
      border: none;
      width: 30px;
      height: 30px;

      :hover {
        cursor: pointer;
        path {
          stroke: colors.$grey-1;
        }
      }
    }
  }
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
