@use '../../../styles/colors';

.row {
  display: flex;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  cursor: pointer;

  &:hover {
    background-color: colors.$background;
  }

  &__album {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__details {
    width: calc(80vw - 30px);

    &--title {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
      overflow: hidden;
    }

    &--artist {
      color: colors.$component-grey;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.tagged-track {
  width: 10px;
  height: 5px;
  background-color: colors.$orange;
}
