@use '../../../styles/colors';

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;

  width: 60%;
  height: 60%;

  &__input {
    height: 35px;
    padding-left: 5px;

    color: white;
    background-color: rgb(51, 51, 51);
    border: none;
    border-radius: 3px;

    &::placeholder {
      color: rgb(110, 110, 110);
    }
  }

  &__submit {
    height: 30px;

    border: none;
    background-color: colors.$orange;
    border-radius: 3px;

    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.1em;
  }
}
