@use './styles/colors';

.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  background: colors.$background;

  @media screen and (max-width: 600px) {
    background: colors.$component-background;
  }
}
