@use '../../styles';

.navbar {
  width: 300px;
  background-color: styles.$component-background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include styles.navbarLinks;
}

.menu {
  height: 350px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  &__row {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 1em;
    text-decoration: none;

    &:hover {
      color: styles.$spotify-green;
    }

    &--avatar {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }

    &--user {
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
    }

    &--icon {
      margin-right: 1em;
    }
  }
}
