.profile {
  display: flex;
  justify-content: center;

  &__image {
    width: 4em;
    height: 4em;
    border-radius: 50%;
  }

  &__name {
    color: red;
  }

  &__followers {
    color: blue
  }
}