.profile {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: black;
  padding: 1.5em;
  font-weight: bolder;
  font-size: smaller;

  &__image {
    width: 3em;
    height: 3em;
    border-radius: 50%;
  }

  &__info {
    padding-left: 1em;
  }

  &__name {
    margin-top: 0;
    margin-bottom: .5em;
  }

  &__followers {
    margin-top: .5em;
    margin-bottom: 0;
  }
}