@use '../../../styles';

.player {
  display: flex;
  width: 350px;
  // justify-content: center;

  &__artwork {
    height: 100%;
  }

  &__info {
    margin-top: 20px;
    text-align: center;
    overflow: hidden;

    &--name {
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
    }

    &--artist {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: styles.$grey-1;
      opacity: 0.75;
    }
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-top: 10px;
    // margin-bottom: 20px;

    &--playback {
      background: none;
      border: none;
      cursor: pointer;
    }

    &--play,
    &--pause {
      width: 40px;
      height: 40px;
    }
  }
}
