@use '../../../styles';

.player {
  display: flex;
  justify-content: space-between;
  width: 25vw;
  height: 100%;

  &__artwork {
    height: 100%;
  }

  &__info {
    width: auto;
    text-align: center;
    overflow-x: hidden;
    width: 60%;

    &--name {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
    }

    &--artist {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: styles.$grey-1;
      opacity: 0.75;
    }
  }

  &__control {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;

    // &--play,
    // &--pause {
    //   width: 40px;
    //   height: 40px;
    // }
  }
}
