@use '../../../styles/colors';

.search {
  display: flex;
  align-items: center;
  justify-self: space-between;
  position: relative;

  &--input {
    background: none;
    border: none;
    height: 40px;
    width: 100%;
    border-top: 1px solid colors.$border;
    border-bottom: 1px solid colors.$border;
    padding-left: 1rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    caret-color: colors.$orange;
    box-shadow: 5px 5px 10px 1px #0000009c;

    &:hover {
      border-top: 1px solid colors.$row-hover;
      border-bottom: 1px solid colors.$row-hover;
    }
  }
}
