@use '../../styles/colors';

.error-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: colors.$background;

  &__header {
    color: white;
    margin: 10px;
  }

  &__body {
    color: colors.$grey-1;
    margin: 10px;
  }
}
